body{
    font-family: Arial, Helvetica, sans-serif;
}

#boolog-img{
    width: 150px;
}

header{
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: #2cb7e7;
    height: 100px;
}

.sotB{
    color: #2cb7e7;
}

.date{
    font-size: small;
}