body{
    font-family: Arial;
}

#boolog-img{
    width: 150px;
}

header{
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-color: #2cb7e7;
    height: 100px;
}

.sotB{
    color: #2cb7e7;
}

.date{
    font-size: small;
}

.tim-img{
    
}
.yellow1{
    background-color: yellow;
}

.tab-princ{
    background-color: #2cb7e7;
    color: white;
}

.large-row{
    width: 25%;
    text-align: center;

}

.large-rowf{
    width: 50%;
}

.row1-3{
    background-color: #8ddbdb
}

.ultimo-giallo{
    background-color: yellow;
}

.interests{
    color: gray;
}

.comp{
    color: white;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    
}

.graph{
    color: white;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
}